Some Calls to cy.visit() Fail with a Parse Error when experimentalNetworkStubbing is Turned On

### Current behavior:
Some (but not all) of my calls `cy.visit` are failing with a generic `Parse Error` when I have `experimentalNetworkStubbing` turned on. One such failing call is in the provided below.

### Desired behavior:
Calls to `cy.visit` succeed regardless of whether or not `experimentalNetworkStubbing` is on.

### Test code to reproduce:
```js
it('Issue with cy.visit when experimentalNetworkStubbing is On', function () {
  // This test will pass when experimentalNetworkStubbing is off, but will fail when it is on.
  cy.visit('https://secure.vidyard.com/user/sign_in')
})
```

![image](https://user-images.githubusercontent.com/62152998/92165453-1868f400-ee05-11ea-8045-eb6f947f3edf.png)

### Versions:
Cypress version 5.1.0 on macOS 10.14.6 using Chrome 85.



@todd-m-kemp 
I'm having the same issue with my app (using the visit command with "experimentalNetworkStubbing")
my best guess is that there is an issue with redirects 
your app does a 302 and mine does a 307

for example yours doesn't work when you visit "https://secure.vidyard.com/user/sign_in"
but if you visit whatever url it redirects to on cypress it does load
"https://auth.vidyard.com/login?rid=CrNJRzNqAHJJJA"

> @todd-m-kemp
> I'm having the same issue with my app (using the visit command with "experimentalNetworkStubbing")
> my best guess is that there is an issue with redirects
> your app does a 302 and mine does a 307
> 
> for example yours doesn't work when you visit "https://secure.vidyard.com/user/sign_in"
> but if you visit whatever url it redirects to on cypress it does load
> "https://auth.vidyard.com/login?rid=CrNJRzNqAHJJJA"

@alim16 Agreed; I noticed the same thing and wondered if it was related to redirects. It certainly seems to make sense based on what we are both experiencing.

I have the same problem and my route also redirects.

in case anyone is looking for a temporary workaround, here is mine
I use cy.request to find the redirect url and then cy.visit 

//my function looks like this
```javascript
export const loadAppWithRedirect = (path:string) => cy.request({
  url: path,
  followRedirect: true
}).then((resp) => {
  const urlRegex = /(https?:\/\/[^ ]*)/
  //ts-ignore because ts claims"redirects" does not exist, but it does for me
  //@ts-ignore
  const stringWithRedirectedUrl = resp.redirects[1]
  const url = stringWithRedirectedUrl.match(urlRegex)[1].toString()
  cy.visit(url)
})
```

//and my test would look like this
```javascript
   it("should go to my site even if it redirects", () => {
        loadAppWithRedirect('https://secure.vidyard.com/user/sign_in') 
        cy.contains("Welcome back").should('exist')
    })
```

@todd I needed an example url and can't use mine, I hope you don't mind

I ran into this issue as well. Building on the workaround from @alim16, I added the following to `cypress/support/commands.js`. This should "fix" the built-in `visit` command to work around the issue so you don't have to change any of your tests. 

Caveats:

- It assumes your server can handle HTTP HEAD requests (if not you can just change the method to 'GET')
- It will apply to _all_ `visit` calls, so it may slow things down a bit and/or have unintended side effects on tests that don't experience the redirect issue at all

```
/**
 * Temporary patch for cy.visit() to address redirects causing errors with experimentalNetworkStubbing
 * See https://github.com/cypress-io/cypress/issues/8497
 */
Cypress.Commands.overwrite('visit', (originalFn, url, options) => {
  const timeout = { timeout: options?.timeout || Cypress.config('pageLoadTimeout') }
  Cypress.log({ name: 'visit', message: url })

  cy.request({ url, followRedirect: false, method: 'HEAD', log: false })
    .then(timeout, resp => {
      if ([301, 302, 303, 307, 308].includes(resp.status)) {
        url = resp.headers['location']
        Cypress.log({ name: 'visit', displayName: ' ', message: 'redirected to ' + url })
      }
      return originalFn(url, Object.assign({}, options, { log: false }))
    })
})
```

@rbell-mfj 
that particular solution didn't work for me (Parse Error again), could be something weird about the app I'm testing

but I like the idea of overwriting the visit command to not have to change tests, so I might do the same
thanks 👍 



@alim16 I should have also noted that the code I posted will only follow a single redirect, so if you have a series of multiple redirects, it may need to be modified accordingly (just a guess)

@rbell-mfj yeah that is sometimes the case for me
but it's working fine for now, so I'll leave if it be until the issue is addressed in cypress
hopefully soon

The `Parse Error` error occurs when Cypress is having an issue parsing the headers, so a copy of the headers sent would be useful to help debug. 

Can someone with this issue try running your tests with [debug logs enabled][debug], and share those logs here? It will show the cookie being parsed and from there I can isolate and reproduce the issue.

* On Linux/macOS: `DEBUG=cypress:* cypress ...`
* On Windows: `npx cross-env DEBUG=cypress:* cypress ...`

Make sure to scrub any private data from the logs before sharing here.

[debug]: https://docs.cypress.io/guides/guides/debugging.html#Print-DEBUG-logs

@rbell-mfj thank you for the workaround. I tried it and it worked for me 👍 

Hey @todd-m-kemp - I am trying to reproduce your issue using Cypress 5.4.0 and am getting a more descriptive error:

![Error: Parse Error: Content-Length can't be present with Transfer-Encoding](https://user-images.githubusercontent.com/1151760/96491560-68aee080-1210-11eb-89b7-806f3ddd4273.png)

An immediate workaround would be to fix your HTTP server so that it either sends Transfer-Encoding, or Content-Length, but not both.

However, I think that Cypress should accept this malformed response and just ignore Content-Length, as the RFC calls for, since that is the behavior of a normal web browser (Node.js discussion here: https://github.com/nodejs/node/issues/7136)


To expand on the Node.js discussion:

> RFC 2616 and 7230 have slightly different wording.
> 
> [RFC 2616, section 4.4](https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.4):
> 
> > If a message is received with both a Transfer-Encoding header field and a Content-Length header field, the latter MUST be ignored.
> 
> [RFC 7230, section 3.3](https://tools.ietf.org/html/rfc7230#section-3.3.3):
> 
> > If a message is received with both a Transfer-Encoding and a Content-Length header field, the Transfer-Encoding overrides the Content-Length.  Such a message might indicate an attempt to perform request smuggling (Section 9.5) or response splitting (Section 9.4) and ought to be handled as an error.  A sender MUST remove the received Content-Length field prior to forwarding such a message downstream.
> 
> "Ought to be handled as an error" is what node.js currently does. RFC 7230 puts the onus on the sender (i.e., the server) to remove the offending Content-Length header. I don't think the built-in HTTP client is in the wrong here.

Although RFC 7230 supersedes RFC 2616, RFC 7230 only recommends erroring because the redundant header may be an indicator of HTTP request smuggling, which is not a concern in Cypress, since Cypress's security model assumes that you have full control of the destination web server. I am not sure if Node.js exposes a way to bypass this behavior, but I can look into it.

